/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/screens/mobile/mobile.pptx
/screens/mobile/mySchoolApp_MOBILE.pdf
/screens/web/web.pptx
/screens/web/mySchoolApp_WEB.pdf